<body>
  <form class="logout" action="/logout" method="post">
    <input type="submit" value="Logout" name="Logout">
  </form>
  <h2 class="title">This is a Title.</h2>
  <h3>You are smart enough to recognize that.</h3>
  <div class="text-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae libero et libero suscipit euismod id ac urna. Curabitur ullamcorper lacus purus, nec posuere sem condimentum eu. Cras quis nibh at nisl rutrum tempor. Aenean mi dolor, placerat nec egestas eget, placerat eu odio. Nam turpis sem, ultrices at scelerisque non, dapibus eget nibh. Sed eget eros quis lacus aliquam feugiat. Duis consequat libero in massa pellentesque convallis. Suspendisse tempor nunc eu felis iaculis scelerisque. Fusce non malesuada ligula. Mauris et imperdiet sapien, ut luctus metus. Donec a nunc urna. Nunc mollis euismod pretium.
    </p>
    <p>
      Vivamus at consectetur enim. In dapibus, neque ut sagittis porttitor, mi nisl ultricies tellus, a aliquet magna ante vitae sem. Aenean vitae fringilla elit. Phasellus efficitur ornare risus, condimentum placerat turpis mattis a. Donec blandit lacus laoreet lorem laoreet consectetur sit amet non dui. Donec sollicitudin mi sollicitudin laoreet mollis. Etiam sit amet auctor nunc, et feugiat ante.
    </p>
    <p>
      Nullam tristique ex vel nunc aliquet scelerisque. Curabitur hendrerit velit nec porta commodo. Nulla facilisi. Donec interdum nisi vel nisi vulputate, vitae sagittis ex aliquam. Suspendisse quis blandit eros. Fusce eget porttitor ante, vitae venenatis quam. Praesent nec commodo diam, at fermentum neque. Sed pulvinar augue vel velit rhoncus aliquet ut quis tortor. Proin nec libero nec massa cursus sollicitudin. Proin elementum dui a auctor maximus.
    </p>
  </div>
  <br>
  <form action='/contact' method='post' class='contact'>
    <fieldset class='contactform' id='contact'>
      <br>
      <legend class='legend' id='legend'>
        Contact Me
      </legend>
      <div class='contactformInner' id='expandable'>
        <p class='inputtext'>
          What's your name?
        </p>
        <input type="text" name="name" class='input'>
        <p class='inputtext'>
          How can I reach you?
        </p>
        <input type="text" name="email" class='input'>
        <p class='inputtext'>
          How can I help?
        </p>
        <textarea name="message" class='input' rows="10" cols="50"></textarea>
        <br>
        <input type="submit" value="Send" class="button">
      </div>
    </fieldset>
  </form>
  <script src='script.js'></script>
</body>
