<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Better move along</title>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
