<% @messages_list.each do |message| -%>
<p> Id: <%= message[:id] %>, User: <%= message[:user_id] %>, Message: <%= message[:text] %></p>
<% end -%>

<div class="text-body">
  <form action="/home">
    <input type="submit" value="Bring me back Home" class="button">
  </form>
</div>
